---
  import BaseLayout from '../layouts/BaseLayout.astro';
  const pageTitle = 'About';
---
<BaseLayout pageTitle={pageTitle}>
  <section>
    <div class="container">
      
    </div>
  </section>
</BaseLayout>
