---
  import BaseLayout from '../layouts/BaseLayout.astro'
  const pageTitle = 'AR Testing'
  import MyThreejsScene  from '../components/my-threejs-scene.astro'
  
---

<BaseLayout pageTitle={pageTitle}>

  <section class="section">
    <div class="container">
        <MyThreejsScene />
    </div>
  </section>
  
</BaseLayout>