---
import MyThreejsScene  from '../components/my-threejs-scene.astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Astro Three.js Project</title>
</head>
<body>
  <h1>My Astro Three.js Project</h1>
  <MyThreejsScene />
</body>
</html>
