<head>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script> -->
  <script type="module" src="./src/scripts/my-threejs-scene.js"></script>
</head>

<div id="myCanvas"></div>
